youtube:
  developerkey:
twitch:
  clientid:
  clientsecret:
  redirecturi: http://localhost:8181/oauth/twitch
database:
  host: localhost
  port: 5432
  dbname: subvideo
  username: postgresql
  password:
secret: ThisIsSecret