youtube:
  developerkey:
twitch:
  clientid:
  clientsecret:
  redirecturi: http://localhost:8181/oauth/twitch
database:
  host: localhost
  port: 5432
  dbname: subvideo
  username: postgresql
  password:
secret: ThisIsSecret
headurl: http://localhost:8181/
delete_video_interval: 10
delete_user_interval: 30