.scrollup {
  position: fixed;
  bottom: 30px;
  width: 32px;
  height: 32px;
  font-size: 30px;
  bottom: 10%;
  left: 2%;
  cursor: pointer;
  display: none;
}

#copy-url {
  font-size: 15px;
}

.right {
  float: right;
}
#channelTitle {
  display: inline;
}
