<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | SubVideo</title>
    {{ if ne .Description "" }}
    <meta name="description" content="{{ .Description }}" />
    <meta property="og:description" content="{{ .Description }}" /> {{ end }} {{ if ne .ImageURL "" }}
    <meta property="og:image" content="{{ .ImageURL }}" />
    <link rel="image_src" href="{{ .ImageURL }}" /> {{ end }}
    <meta property="og:url" content="{{ .URL }}" />
    <meta property="og:title" content="{{ .Title }}" />

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css?{{ hashFile "/css/main.css" }}" rel="stylesheet" />

    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#332778">
    <meta content="SubVideo" name="apple-mobile-web-app-title">
    <meta content="SubVideo" name="application-name">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
