<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-dark">
    <a class="navbar-brand" href="/">
        <svg version="1.1" class="brand mb-2" id="tea" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px"
             height="25px" viewBox="0 0 49.284 49.284" style="enable-background:new 0 0 49.284 49.284;"
             xml:space="preserve"><g>
                <g>
                    <path d="M36.591,39.606c8.158-0.328,11.784-4.041,11.784-8.585c0-3.947-2.739-7.268-8.806-8.288c0.027-1.468,0.029-2.884,0.029-4.206H0.909c0,8.644,0.01,21.2,7.776,27.197c-4.713,0.361-7.776,0.935-7.776,1.581c0,1.094,8.661,1.979,19.345,1.979s19.344-0.885,19.344-1.979c0-0.646-3.063-1.221-7.775-1.581C33.931,44.097,35.472,41.991,36.591,39.606zM39.425,26.492c3.404,0.789,4.012,2.458,3.973,4.619c-0.043,2.454-0.754,4.115-5.402,4.687C38.837,32.811,39.235,29.604,39.425,26.492zM5.579,21.527h6.048c-2.711,8,1.863,20.658,1.862,20.658C3.601,34.606,5.579,21.527,5.579,21.527z"/>
                    <path d="M23.419,13.313c0.769-6.968,16.153-3.482,12.947-12.528c-0.49-1.383-2.705-0.787-2.21,0.609C35.562,5.36,30.22,5.843,27.5,6.752c-3.267,1.092-5.971,2.918-6.373,6.561C20.965,14.781,23.259,14.765,23.419,13.313z"/>
                    <path d="M34.339,8.437c-3,0.707-5.742,1.992-6.677,5.146c-0.421,1.421,1.791,2.023,2.21,0.609c1.032-3.483,5.607-3.541,8.528-4.389c3.137-0.911,4.932-3.084,4.501-6.42c-0.188-1.445-2.48-1.463-2.292,0C41.13,7.417,37.418,7.71,34.339,8.437z"/>
                </g>
            </g></svg>
        SUBVideo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ if ne .SubVideo.Title "" }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVideo" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ .SubVideo.Title }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownVideo">
                        {{if eq .SubVideo.TypeSub "youtube"}}
                            <a href="https://www.youtube.com/channel/{{.SubVideo.ChannelID}}" class="dropdown-item"><img
                                        src="/ytube.png"
                                        alt="YouTube"/>
                                {{.SubVideo.Channel}}
                            </a> {{end}} {{if eq .SubVideo.TypeSub "youtube-stream"}}
                            <a href="https://www.youtube.com/channel/{{.SubVideo.ChannelID}}" class="dropdown-item"><img
                                        src="/ytube.png"
                                        alt="YouTube"/>
                                {{.SubVideo.Channel}}
                            </a> {{end}} {{if eq .SubVideo.TypeSub "youtube-stream-live"}}
                            <a href="https://www.youtube.com/channel/{{.SubVideo.ChannelID}}" class="dropdown-item"><img
                                        src="/ytube.png"
                                        alt="YouTube"/>
                                {{.SubVideo.Channel}}
                            </a> {{end}} {{if eq .SubVideo.TypeSub "twitch"}}
                            <a href="https://www.twitch.tv/{{.SubVideo.ChannelID}}" class="dropdown-item"
                               target="_blank"><img
                                        src="/twitch.png" alt="Twitch.navbar-dark .navbar-brand:nover
"/> {{.SubVideo.Channel}}
                            </a> {{end}} {{if eq .SubVideo.TypeSub "twitch-stream"}}
                            <a href="{{.SubVideo.URL}}" class="dropdown-item" target="_blank"><img
                                        src="/twitch.png" alt="Twitch"/> {{.SubVideo.Channel}}
                            </a> {{end}} {{ if ne .User.UserName "" }}
                            <a href="/last?channelID={{.SubVideo.ChannelID}}" class="dropdown-item">Последние
                                видео</a>          {{ end }}
                    </div>
                </li>
            {{ else }} {{ if ne .User.UserName "" }}
                <form action="/search" class="form-inline">
                    <input type="text" class="form-control mr-sm-2" placeholder="{{ .Search }}"
                           aria-label="{{ .Search }}"
                           name="search">
                    <button class="btn btn-outline-light my-2 my-sm-0 mr-sm-2" type="submit">Поиск</button>
                </form>
            {{ end }} {{ end }}
        </ul>
        <ul class="navbar-nav justify-content-end">
            {{ if ne .User.UserName "" }} {{ if ne .User.AvatarURL "" }}
                <li class="nav-item d-sm-none d-lg-inline d-xl-inline">
                    <img src="{{.User.AvatarURL}}" alt="{{.User.UserName}}" width="45px" height="45px">
                </li>
            {{ end }}
            <li class="nav-item"><a class="nav-link" href="/user">Настройки</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Выход</a></li>
            {{ else }}
                <li class="nav-item"><a class="nav-link" href="/login">Войти</a></li>
            {{ end }}
        </ul>
    </div>
</nav>
