<!DOCTYPE html>
<html>
{{ template "layouts/head" .Title }}

<body>
    {{ $userTimeZone := .User.TimeZone }} {{ template "layouts/navigation" .User}}
    <div class="container">
        {{ if ne (len .ChannelOnline) 0 }}
        <h2>Сейчас идут стримы!</h2>
        <div class="row">
            {{ range $index, $channel := .ChannelOnline }} {{ if split $index 2 }}
            <div class="clearfix hidden-xs"></div>
            {{ end }}
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="/play?id={{.ChannelID}}&type={{.TypeSub}}">
                        <img src="{{$channel.ThumbURL}}" alt="{{$channel.Title}}" />
                    </a>
                    <div class="caption">
                        <a href="{{$channel.URL}}" target="_blank">
                            <h4>{{ .Title }}</h4>
                        </a>
                        <h4>{{ $channel.Game }}</h4>
                        <p>{{ videoLen $channel.Length }}</p>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" area-haspopup="true" area-expanded="false">
              {{ $channel.Channel }} <span class="caret"></span>
            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://www.twitch.tv/{{$channel.ChannelID}}" target="_blank"><img src="/twitch.png" alt="Twitch" id="channelTitle" /> {{ $channel.Channel }}</a>
                                </li>
                                <li><a href="/last?channelID={{$channel.ChannelID}}">Последние видео</a></li>
                            </ul>
                        </div>

                        <button class="btn-btn-default jscopy right" id="copy-url" data-clipboard-text="mpv --ytdl-format=High {{$channel.URL}}">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
          </button>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <hr>
      {{ end }}
        <h2>Что новенького?</h2>
        <nav aria-label="...">
            <ul class="pager">
                {{ if eq .Page.Last 0 }}
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
                {{ else }}
                <li class="previous"><a href="/?page={{ .Page.Last }}"><span aria-hidden="true">&larr;</span></a></li>
                {{ end }}
                <li class="next"><a href="/?page={{ .Page.Next }}"><span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        <div class="row">
            {{ range $index, $ := .SubVideos }} {{ if split $index 3 }}
            <div class="clearfix hidden-xs"></div>
            {{ end }} {{ template "video" . }} {{ end }}
        </div>
        <nav aria-label="...">
            <ul class="pager">
                {{ if eq .Page.Last 0 }}
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
                {{ else }}
                <li class="previous"><a href="/?page={{ .Page.Last }}"><span aria-hidden="true">&larr;</span></a></li>
                {{ end }}
                <li class="next"><a href="/?page={{ .Page.Next }}"><span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="scrollup">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </div>
</body>
<script type="text/javascript" src="/assets/js/main.js"></script>

</html>
