<!DOCTYPE html>
<html>
{{ template "layouts/head" .HeadInfo }}

<body>
  {{ template "layouts/navigation" navMenu .User .SubVideo "Поиск"}}
  <br>
  <div class="container">
    {{ if ne (len .ChannelOnline) 0 }}
    <h2>Сейчас идут стримы!</h2>
    <div class="row">
      {{ range $index, $channel := .ChannelOnline }} {{ if split $index 2 }}
      <div class="clearfix d-none d-sm-block"></div>
      {{ end }}
      <div class="col-lg-6">
        <div class="card">
          {{if eq .TypeSub "twitch-stream"}}
          <a href="/play?id={{.ChannelID}}&type={{.TypeSub}}">
                      {{else}}
                    <a href="/play?id={{.Id}}&type={{.TypeSub}}">
                      {{end}}
                        <img class="card-img-top" src="{{$channel.ThumbURL}}" alt="{{$channel.Title}}" />
                    </a>
          <div class="card-body">
            <a href="{{$channel.URL}}" target="_blank">
              <h5 class="card-title">
                {{if eq .TypeSub "twitch-stream"}}
                <img src="/twitch.png" alt="YouTube" /> {{else}}
                <img src="/ytube.png" alt="Twitch" /> {{end}} {{ .Title }}
              </h5>
            </a>
            <h6>{{ $channel.Game }}</h6>
            {{if eq .TypeSub "youtube-stream"}}
            <p class="card-text">Стрим начнется через: {{ dateStreamLen $channel.Date }}</p>
            {{else}}
            <p class="card-text">{{ videoLen $channel.Length }}</p>
            {{end}}

            <div class="dropdown">
              <button type="button" class="btn btn-outline-light btn-sm border border-secondary dropdown-toggle"
                id="dropdownMenu" data-toggle="dropdown" area-haspopup="true" area-expanded="false">
              {{ $channel.Channel }}
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                {{if eq .TypeSub "youtube-stream"}}
                <a class="dropdown-item" href="https://www.youtube.com/channel/{{.ChannelID}}" target="_blank">
                  <img src="/ytube.png" alt="YouTube" /> {{.Channel}}
                </a>
                {{end}} {{if eq .TypeSub "youtube-stream-live"}}
                <a class="dropdown-item" href="https://www.youtube.com/channel/{{.ChannelID}}" target="_blank">
                  <img src="/ytube.png" alt="YouTube" /> {{.Channel}} </a>
                {{end}} {{if eq .TypeSub "twitch-stream"}}
                <a class="dropdown-item" href="https://www.twitch.tv/{{$channel.Channel}}" target="_blank">
                  <img src="/twitch.png" alt="Twitch" /> {{ $channel.Channel }}</a>
                {{end}}
                <a class="dropdown-item" href="/last?channelID={{$channel.ChannelID}}">Последние видео</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <hr> {{ end }}
    <h2 id="video">Что новенького?</h2>
    <div class="row">
      {{ $UserTimeZone := .User.TimeZone }} {{ range $index, $ := .SubVideos }} {{ if split $index 3 }}
      <div class="clearfix d-none d-sm-block"></div>
      {{ end }} {{ template "video" userTimeZoneAndVideo . $UserTimeZone }} {{ end }}
    </div>
    <br>
    {{ template "layouts/pagination" .Page }}
    {{ template "layouts/footer" }}
  </div>
</body>
<script type="text/javascript" src="/assets/js/main.js?{{ hashFile "/js/main.js" }}"></script>

</html>
