<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SubVideo</title>
  <meta name="description" content="Привет, я могу проверить что же появилось нового на Twitch и YouTube"
  />
  <meta property="og:url" content="{{ .HeadURL }}" />
  <meta property="og:title" content="SubVideo" />
  <meta property="og:image" content="{{ .HeadURL }}tea.png" />
  <link rel="image_src" href="{{ .HeadURL }}tea.png" />
  <meta property="og:description" content="Привет, я могу проверить что же появилось нового на Twitch и YouTube"
  />
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/bootstrap-reboot.min.css" rel="stylesheet" />
  <link href="/assets/css/bootstrap-grid.min.css" rel="stylesheet" />
  <link href="/assets/css/main.css?{{ hashFile "/css/main.css" }}" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta content="SubVideo" name="apple-mobile-web-app-title">
  <meta content="SubVideo" name="application-name">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Приветствую вас на SubVideo!</h1>
      <p class="lead">Привет, я могу проверить что же появилось нового на Twitch и YouTube</p>
      <p class="lead"><a class="btn btn-outline-light btn-lg" href="{{.TwitchURL}}" role="button">Войти через Twitch</a>
        <a class="btn btn-outline-light btn-lg" href="{{.YouTubeURL}}" role="button">Войти через YouTube</a></p>
    </div>
  </div>
  <div class="scrollup">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  </div>
</body>
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js?{{ hashFile "/js/main.js" }}"></script>
{{ template "metrics/yandex" metrics }} {{ template "metrics/google" metrics }}

</html>
