<!DOCTYPE html>
<html>
{{ template "layouts/head" .HeadInfo }}

<body>
  {{ template "layouts/navigation" navMenu .User .SubVideo .Search }}
  <br>
  <div class="container">
    <h2>Поиск по: {{ .Search }}</h2>
    <div class="row">
      {{ $UserTimeZone := .User.TimeZone }} {{ range $index, $ := .SubVideos }} {{ if split $index 3 }}
      <div class="clearfix hidden-xs"></div>
      {{ end }} {{ template "video" userTimeZoneAndVideo . $UserTimeZone }} {{ end }}
    </div>
    <br>
    {{ template "layouts/pagination" .Page }}
    {{ template "layouts/footer" }}
  </div>
</body>
<script type="text/javascript" src="/assets/js/main.js"></script>

</html>
