<!DOCTYPE html>
<html>
{{ template "layouts/head" .Title }}

<body>
{{ template "layouts/navigation" .User }}
<div class="container">
  <p>
    {{ if eq .User.TWOAuth "" }}
    <a class="btn btn-primary" href="{{.TwitchURL}}" role="button">Войти через Twitch</a>
    {{ else }}
    <span class="label label-success">Twitch поключен</span>
    {{ end }}
    {{ if eq .User.YTOAuth "" }}
    <a class="btn btn-primary" href="{{.YouTubeURL}}" role="button">Войти через YouTube</a>
    {{ else }}
    <span class="label label-success">YouTube подключен</span>
    {{ end }}
  </p>
  <form action="/user" method="post">
    <label for="timezone">Выбор часового пояса</label>
    <select class="form-control" name="timezone">
      {{ $userTimeZone := .User.TimeZone }}
      {{ range .TimeZones }}
      {{ if ne .UTC $userTimeZone }}
      <option>{{.UTC}}</option>
      {{ else }}
      <option selected="">{{.UTC}}</option>
      {{ end }}
      {{ end }}
    </select>
    <button type="submit" class="btn btn-default">Сохранить</button>
  </form>
  {{ template "layouts/footer" }}
</div>
<div class="scrollup">
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
</div>
</body>
<script type="text/javascript" src="/assets/js/main.js"></script>

</html>
